[submodule "verification"]
	path = verification
	url = https://github.com/chenfengrugao/riscvv.git
[submodule "backend"]
	path = backend
	url = https://github.com/xoit/riscv-backend.git
[submodule "synthesis"]
	path = synthesis
	url = https://github.com/xoit/riscv-synthesis.git
[submodule "vendor/es200_opensource"]
	path = vendor/es200_opensource
	url = https://github.com/SI-RISCV/e200_opensource.git
[submodule "cad"]
	path = cad
	url = https://github.com/xoit/riscv-cad.git
